1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [ ]:
length = float(input("Enter the lenght: "))
bredth = float(input("Enter the bredth: "))

if length == bredth:
    print("It is an square")
else:
    print("It is not an square")

2. Take three integer values from the user and print the greatest among them.

In [8]:
import math

firstVal = int(input("Enter first value: "))
secondVal = int(input("Enter second value: "))
thirdVal = int(input("Enter third value: "))

myList = [firstVal,secondVal,thirdVal]
print("Your greatest input value is: ",max(myList))

Enter first value: 12
Enter second value: 23
Enter third value: 34
Your maxium inputted value is:  34

3. A student will not be allowed to sit in an exam if his/her attendance is less than 75%.

In [19]:
totalNoOfClassIn = int(input("Enter total no of class in days: "))

listAllData = []

while(True):
    studentAttendanceData = {}
    studentAttendanceData["studentName"] = input("Enter student's name: ")
    studentAttendanceData["attendance"] = int(input("Enter student's attendance in days: "))
    listAllData.append(studentAttendanceData)
    if(input("Press 'x' to exit") == 'x'):
        break

print("Total no of class days: ",totalNoOfClassIn)
print(listAllData)

for stdData in listAllData:
    attnPercent = (stdData["attendance"] / totalNoOfClassIn) * 100
    print("Attendance percentage: ",attnPercent)
    
    if(attnPercent < 75.0):
        print(stdData["studentName"] + " is not allowed to sit in an exam.")
    else:
        print(stdData["studentName"] + " is allowed to sit in an exam.")

Enter total no of class in days: 100
Enter student's name: AA
Enter student's attendance in days: 87
Press 'x' to exitBB
Enter student's name: 65
Enter student's attendance in days: 65
Press 'x' to exitf
Enter student's name: CC
Enter student's attendance in days: 89
Press 'x' to exitx
Total no of class days:  100
{'studentName': 'CC', 'attendance': 89}
Attendance percentage:  87.0
AA is allowed to sit in an exam.
Attendance percentage:  65.0
65 is not allowed to sit in an exam.
Attendance percentage:  89.0
CC is allowed to sit in an exam.

4. A school has the following rules for the grading system: Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+ Now, Ask the user to enter marks and print the corresponding grade.

In [20]:
marks = int(input("Enter your marks: "))

if marks < 25:
    print("Your grade is F")
elif marks >= 25 and marks <= 44:
    print("Your grade is E")
elif marks >= 45 and marks <= 49:
    print("Your grade is D")
elif marks >= 50 and marks <= 59:
    print("Your grade is C")
elif marks >= 60 and marks <= 79:
    print("Your grade is B")
elif marks >= 80 and marks <= 89:
    print("Your grade is A")
else:
    print("Your grade is A+")

Enter your marks: 65
Your grade is B

Loop Problem:
5. Print the following pattern using for and while loop.
1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

In [31]:
#Using for loop
for i in range(8, 4, -1):
    for j in range(1, i):
        print(j, end=' ')
    print()

1 2 3 4 5 6 7
1 2 3 4 5 6
1 2 3 4 5
1 2 3 4

6. Display numbers from -100 to -10 using for loop.

In [38]:
for i in range(-100, -9, 1):
        print(i, end=' ')

-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [5]:
def isPrime(n):
    if n < 2:
        return False

    for i in range(2, n):
        if n % i == 0:
            return False

    return True

listPrimeNumer=[]
sumOfPrimeNum = 0
for i in range(10,1000,1):
    if(isPrime(i) == True):
        listPrimeNumer.append(i)
        sumOfPrimeNum = sumOfPrimeNum + i

# print("Prime number list: ",listPrimeNumer)        
print("Sum of prime number is: ",sumOfPrimeNum)

Sum of prime number is:  76110

8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [11]:
factorialN = int(input("Enter number for factorial"))

valueFactorialN = 1
for n in range(factorialN,0,-1):
    valueFactorialN = valueFactorialN * n
    print(n)
    
print("Factorial of an !n is: ",valueFactorialN)

Enter number for factorial15
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Factorial of an !n is:  1307674368000

9. Reverse a given integer number 27956240710.

In [21]:
intNumber = 27956240710
numStr = str(intNumber)

revStr = numStr[::-1]
print(revStr)

01704265972

10. Print the following pattern using for and while loop.
# # #
# # # #
# # #
# #

In [25]:
#One way
counter = 4
listPat = [3,4,3,2]
i=0

while(i < counter):
    for n in range(listPat[i]):
        print("#",end =" ")
    print() 
    i+=1

print("-------------------------")
#Another way
i=0
counter = 12
while(i < counter):
    print("#",end =" ")
    if(i == 2 or i == 6 or i == 9):
        print()
    i+=1

# # #
# # # #
# # #
# #
-------------------------
# # #
# # # #
# # #
# #

11. Display the Fibonacci series of 15 elements using the for and while loop.

In [29]:
print("----------Using For Loop-------------")  
a, b = 0, 1

for i in range(15):
    print(a)
    a, b = b, a + b
    
print("----------Using While Loop-------------")    
a, b = 0, 1
i=0
while(i < 15):
    print(a)
    a, b = b, a + b
    
    i+=1

----------Using For Loop-------------
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
----------Using While Loop-------------
0
1
1
2
3
5
8
13
21
34
55
89
144
233
377

12. Remove 2 and add 3 to the list and replace True with False.
Li = [1,3,5, [2,3], True]
Output = [1,3,5, [3,3], False]

In [30]:
Li = [1,3,5, [2,3], True]
print(Li)

Li[3][0] = 3
Li[4] = False
print(Li)

[1, 3, 5, [2, 3], True]
[1, 3, 5, [3, 3], False]

13. Find the intersection (common) of two sets.
S1 = {1,4,6,8}
S2 = {True, 1,2,10}

In [42]:

S1 = {1,4,6,8} 
S2 = {1,2,10,4}

S3 = S1.intersection(S2)
print(S3)

{1, 4}

14. Input a list from the user then Remove duplicates from a list and create a set and find the max
number. User_input = [1,9,3,4,5,200,54]

In [54]:
user_input = [1,9,3,4,5,200,54,4,9]
mySet = set(user_input)
mySet

{1, 3, 4, 5, 9, 54, 200}

15. Rename the key of a dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }
Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.

In [49]:
def change_dict_key(d, old_key, new_key, default_value=None):
    d[new_key] = d.pop(old_key, default_value)

myDict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }

change_dict_key(myDict,"country","region")
myDict

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

16. Creating a data frame using the list.
num = [10,100,300] (column name is number)

In [48]:
import pandas as pd

df = pd.DataFrame([10,100,300],columns=["Number"])
df

   Number
0      10
1     100
2     300

17. Change the value of a key in a given dictionary.
Write a Python program to change ‘age’ to 28 in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": “Berlin”, "country": "Germany" }

In [55]:
myDict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
myDict["age"] = 28
myDict

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}