In [1]:
import pandas as pd

df = pd.read_csv('Data Files//supershops.csv')

In [2]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

# Normalization

In [3]:
#Marketing Spend
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [4]:
from sklearn.preprocessing import MinMaxScaler
m = MinMaxScaler() # m = MinMaxScaler(feature_range=(2, 5))

In [5]:
# df_mar = m.fit(df[['Marketing Spend']]) # trainging

In [6]:
# df_mar

In [7]:
# df.head()

In [8]:
# df[['Marketing Spend']] = m.transform(df[['Marketing Spend']]) #transforming

In [9]:
# df.head()

In [10]:
#fit and transform
# df[['Administration']] = m.fit_transform(df[['Administration']]) #fit_transform

In [11]:
# df.head()

In [12]:
# df.info()

In [13]:
x = df.drop('Profit', axis=1)
y = df[['Profit']]

In [14]:
x4 = x.copy()
x5 = x.copy()
x6 = x.copy()

# Min Max Scaler using for loop

In [15]:
# x1.head()
# for ind in x1.index:
#     print(x1['Marketing Spend'][ind])
# #     x1['Marketing Spend'][ind] = m.fit_transform(x1['Marketing Spend'][ind]) #fit_transform
# #     x1[['Administration']][ind] = m.fit_transform(x1[['Administration']][ind]) #fit_transform
    
# x1.head()

In [29]:
x1 = x.copy()
y1 = y.copy()
#Before scale and transform
x1.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [31]:
#Start fit and transform
x1[['Marketing Spend']] = m.fit_transform(x1[['Marketing Spend']]) #fit_transform
x1[['Administration']] = m.fit_transform(x1[['Administration']]) #fit_transform
x1[['Transport']] = m.fit_transform(x1[['Transport']]) #fit_transform
y1[['Profit']] = m.fit_transform(y1[['Profit']]) #fit_transform

#After scale and transform
x1.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.651744   1.000000    Dhaka
1         0.983359        0.761972   0.940893      Ctg
2         0.927985        0.379579   0.864664  Rangpur
3         0.873136        0.512998   0.812235    Dhaka
4         0.859438        0.305328   0.776136  Rangpur

In [32]:
y1.head()

     Profit
0  1.000000
1  0.997355
2  0.993178
3  0.947292
4  0.853171

# Standard Scaler

In [18]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [19]:
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

x2 = x.copy()
x2.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [20]:
#Start fit and transform
x2[['Marketing Spend']] = std_scaler.fit_transform(x2[['Marketing Spend']]) #fit_transform
x2[['Administration']] = std_scaler.fit_transform(x2[['Administration']]) #fit_transform
x2[['Transport']] = std_scaler.fit_transform(x2[['Transport']]) #fit_transform

In [21]:
#After Standard Scaler and transform
x2.head()

   Marketing Spend  Administration  Transport     Area
0         0.897913        0.560753   2.165287    Dhaka
1         1.955860        1.082807   1.929843      Ctg
2         1.754364       -0.728257   1.626191  Rangpur
3         1.554784       -0.096365   1.417348    Dhaka
4         1.504937       -1.079919   1.273550  Rangpur

# Max abs scaler

In [22]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MaxAbsScaler.html

In [23]:
from sklearn.preprocessing import MaxAbsScaler
max_abs_scaler = MaxAbsScaler()

x3 = x.copy()
x3.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [24]:
#Start fit and transform
x3[['Marketing Spend']] = max_abs_scaler.fit_transform(x3[['Marketing Spend']]) #fit_transform
x3[['Administration']] = max_abs_scaler.fit_transform(x3[['Administration']]) #fit_transform
x3[['Transport']] = max_abs_scaler.fit_transform(x3[['Transport']]) #fit_transform

x3.head()

   Marketing Spend  Administration  Transport     Area
0         0.692617        0.749527   1.000000    Dhaka
1         0.983359        0.828805   0.940893      Ctg
2         0.927985        0.553781   0.864664  Rangpur
3         0.873136        0.649738   0.812235    Dhaka
4         0.859438        0.500378   0.776136  Rangpur

# Robust Scaler

In [25]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.RobustScaler.html

In [26]:
from sklearn.preprocessing import RobustScaler
rob_scaler=RobustScaler()

x4 = x.copy()
x4.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [27]:
#Start fit and transform
x4[['Marketing Spend']] = rob_scaler.fit_transform(x4[['Marketing Spend']]) #fit_transform
x4[['Administration']] = rob_scaler.fit_transform(x4[['Administration']]) #fit_transform
x4[['Transport']] = rob_scaler.fit_transform(x4[['Transport']]) #fit_transform

x4.head()

   Marketing Spend  Administration  Transport     Area
0         0.672530        0.345355   1.552016    Dhaka
1         1.452113        0.697565   1.383714      Ctg
2         1.303634       -0.524290   1.166654  Rangpur
3         1.156567       -0.097977   1.017368    Dhaka
4         1.119836       -0.761543   0.914576  Rangpur